/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

/* Body and headings*/

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    background-color: turquoise;
}

h1 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

/* Links etc */

a {
    color: #3ea596;
}

a:visited {
    /*visited link */
    color: purple;
}

a:hover, a:focus {
    /* No underlining when hovering over a link */
    text-decoration: none;
}

a:active {
    /* selected link */
    color: #489c79;
}

/* Buttons */

.button, 
button {
    /* overwrites browser defaults and resets the border */
    border: none;
    display: inline-block;
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles the background color, font color, and text decoration (underline, etc.) of the button */
    background-color: #357b70;
    color: white;
    text-decoration: none;
    /*adds spacing to the button (this will be discussed more in-depth later) */
    padding: 10px;
    border-radius: 20px;
    /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
    border-bottom: 2px solid border;
   /* What is all of this webkit stuff? I never put them in*/
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    /*lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
}

.button_secondary {
    background-color: blue;
    color: white;
}

/* Header */

.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 20px;
    align-items: center;
    background-color: #edc655;
}

.page-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
}

.page-header__item:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
}

/* Nav */

.navigation-list {
    list-style-type: none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

.navigation-list__item--active {
    text-decoration: none;
}

/* Footer */

.page-footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-top: 10%;
}

.social-media {
    text-decoration: none;
}

/* Profile - Home Page */

.profile {
    max-width: 700px;
    margin: 5% auto;
    align-items: baseline;
}

.profile__portrait {
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
}

.profile__intro {
    text-align: center;
}

/* About page */

.about {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}

.experience-list {
    list-style-type: none;
}

.experience-list li{
    text-align: center;
}

.about-cv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

table {
    text-align: left;
    background-color: #aee0ff;
    border-radius: 10px;
    padding: 3%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

/* Projects page */

.grid {
    /* What is "-ms-grid"? and why do I need it? */
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.grid__item {
    background-color: lightgray;
    padding: 50px;
    border-radius: 10%;
}

@media all and (max-width: 750px) {
    /*shared code */
}

@media all and (max-width: 500px) {
    .grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}
@media all and (min-width: 500px) and (max-width: 750px) {
    .grid {
        -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr;
    }
}
@media all and (max-width: 750px) {
    .grid {
        grid-gap: 10px;
    }
    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    h1 {
        font-size: 22px;
    }
}

/* Contact Page */

.grid-message {
	display: grid;
	/* grid-template-columns: 300px 300px 300px, or 1fr 1fr 1fr; fractions are better than pixels - they are responsive */
	grid-template-columns: 1fr;
	grid-gap: 20px;
    margin: 0 600px 0;
    text-align: center;
}

.grid-message_item {
	background-color: lightgrey;
	color: #2b2b2b;
	width: auto;
	min-height: auto;
	padding: 50px;
	border-radius: 20px;
}

.submit {
    border: none;
    font-family: inherit;
    background-color: #e7592f;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 20px;
    border-width: 2px #574c5c;
}

/* Animation */

@keyframes color-change {
    0% {
        fill: #edc655;
    }
    50% {
        fill: #fcffad;
    }
    100% {
        fill: #f76414;
    }
}

.sun {
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-name: color-change;
            animation-name: color-change;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}

@-webkit-keyframes cloud-move {
    from {
        -webkit-transform: translate(0, 50px);
                transform: translate(0, 50px);
    }
    to {
        -webkit-transform: translate(200px, 50px);
                transform: translate(200px, 50px);
    }
}

@keyframes cloud-move {
    from {
        -webkit-transform: translate(0, 50px);
                transform: translate(0, 50px);
    }
    to {
        -webkit-transform: translate(200px, 50px);
                transform: translate(200px, 50px);
    }
}

.cloud-front {
    -webkit-animation-duration: 30s;
            animation-duration: 30s;
    -webkit-animation-name: cloud-move;
            animation-name: cloud-move;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}

@-webkit-keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px, 48px);
                transform: translate(446px, 48px);
    }
    to {
        -webkit-transform: translate(100px,48px);
                transform: translate(100px,48px);
    }
}

@keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px, 48px);
                transform: translate(446px, 48px);
    }
    to {
        -webkit-transform: translate(100px,48px);
                transform: translate(100px,48px);
    }
}

.cloud-back {
    -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
            animation: 34s cloud-move-reverse infinite alternate linear;
}